services:
  redis-commander:
    container_name: redis-commander
    image: ghcr.io/joeferner/redis-commander:latest
    env_file:
      - .env
    user: redis
    networks:
      - internal_network

networks:
  internal_network:
    external: true
      
